.sidebar-container {
    background-color: var(--white);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 80px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 100vh;
    right: -200px;
}

.active {
    right: 0px;
    position: fixed;
}

.sidebar-item {
    display: block;
    margin: 10px 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sidebar-item span {
    margin-right: 7px;
}