* {
    box-sizing: border-box;
    font-family: AIranianSans, Arialو 'Times New Roman', Times, serif;
}

.all-container {
    display: flex;
    margin: 150px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .login-container {
    display: flex;
    flex-direction: column; */
/* position: relative; */
/* align-items: center;
    background-color: var(--white);
    
    height: 150px;
    margin: 10px;
    padding: 10px;
} */

.input-login {
    width: 98%;
    height: 45px;
    background-color: var(--light-grey);
    border: none;
    padding: 5px;
    align-self: center;
}

.button-login {
    background-color: var(--app);
    width: 98%;
    height: 50px;
    height: 50px;
    margin-top: 10px;
    border: none;
}

.a-tag {
    text-decoration: underline;
    background-color: var(--white);
    border: none;
    margin: 10px;
    font-size: large;
}

.text-login {
    color: var(--red);
    margin: 15px;
}

.user-image {
    margin-bottom: 20px;
}


/* the policy Css */

/* .contain-all-elem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max(500px, 45%, 500px); */
    /* background-color: aqua; */
/* } */

/* .arond-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: var(--white);
    border: 1px solid var(--dark);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    padding: 0px;
    font-style: oblique;

} */

/* .img-leter {
    width: 50px;
    align-self: center;
    padding: -20px;
    margin: -5px auto;
} */

/* .containe-policy {
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    line-height: 2;
    letter-spacing: -1px;
} */