:root {
    --app: rgb(255, 221, 0);
    --main-bg: rgb(128, 130, 133);
    --light-grey: rgb(232, 232, 232);
    --green: rgb(30, 208, 95);
    --red: rgb(223, 15, 15);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #808285;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #808285;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* home-page-button */

.homepage-container {
    display: flex;
    flex-direction: column;
    /* padding: 0px 20%; */
    /* margin: 10%; */
    justify-content: center;
    align-items: center;
   padding-top: 35px;
   color:var(--white)
}

.home-button {
    background-color: var(--app);
    cursor: pointer;
    /* padding: 10px 3px; */
    margin: -7px;
    border-radius: 40px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
