.header-container {
    background-color: var(--app);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.eshel-icon {
    width: 90px;
}

.menu-icon {
    width: 30px;
}

.menu-icon:hover {
    cursor: pointer;
}

.back-icon {
    width: 40px;
}

.back-icon:hover {
    cursor: pointer;
}

.header-button {
    background-color: var(--app);
    border: 0px;
}