:root {
  --app: rgb(255, 221, 0);
  --main-bg: rgb(128, 130, 133);
  --light-grey: rgb(232, 232, 232);
  --green: rgb(30, 208, 95);
  --red: rgb(223, 15, 15);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #808285;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #808285;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  box-sizing: border-box;
}

.home {
  background-color: var(--main-bg);
  min-width: 100%;
  min-height: 100%;
}

.all-page-color {
  background-color: var(--light-grey);
  min-width: 100%;
  min-height: 100vh;
  /* display: flex;*/
} 

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}



br {
  padding: 500px;
}

li, ul {
  display: block;
  list-style-type: none;
  list-style-position: rtl;
  offset-position: rtl;
  direction: rtl;
  background-color: var(--light-grey);
  padding: 10px;
  margin: 10px;
}




