* {
    box-sizing: border-box;
}

.present-button {
    /* background-color: var(--app); */
    color-interpolation-filters: var(--white);
    border-radius: 50px;
    border: 7px double var(--white);
    width: max(25%, 300px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, var(--app), var(--yellow), var(--white))
}

/* .grad { */
    /* background: -webkit-linear-gradient(liner, left, var(--app), var(--white) ); */
    /* For Safari 5.1 to 6.0 */
    /* background: linear-gradient(180deg,  var(--app), var(--white) ); */
    /* Standard syntax */
    /* background: linear-gradient(to right,var(--app) , var(--white)); */
    /* Standard syntax */
    /* background: radial-gradient(closest-side at 65% 55%,var(--white),var(--app),var(--white),var(--app)); */
    /* background: radial-gradient(farthest-side at 60% 55%,var(--white),var(--app),var(--white),var(--app)); */
    /* background: repeating-radial-gradient(var(--app), yellow 10%,var(--white) 15%); */
/* } */

.present-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    background-color: aqua;
    /* padding: 0px 20%; */
    /* margin: 10%; */
    /* justify-content: center; */
    /* align-items: center; */
    align-content: center;

}