.contain-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px auto;
    width: 100%;
    border-radius: 20px;
}

.calendar {
    border: solid 1px #777;
    width: 95%;
    height: 300px;
    border: 0;
    background-color: var(--white);
}

.data-box {
    background-color: var(--white);
    margin-top: 10px;
    width: 95%;
    height: 100px;
}

.calendar-button {
    background-color: var(--green);
    border-radius: 50px;
    border: 7px double var(--white);
    width: 100px;
    height: 50px;
}