* {
    box-sizing: border-box;
}

.about-container{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    width:clamp(320px,60%,500px);
    height: auto;
  
}
.about-buttons{
    background-color: var(--app);
    cursor: pointer;
    margin-top: 7px;
    padding: 4px;
    border-radius: 40px;
    font-size: 16px;
    width: clamp(100px, 90%, 400px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 7px double var(--white);
}
button{
    justify-content: end;
}